html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  margin: 0px;
  overscroll-behavior: none;
}

header img {
  display: block;
  margin: auto;
  height: 100px;
}
header nav {
  text-align: center;
}
header nav a {
  text-decoration: none;
  color: black;
  margin: 0px 10px 0px;
}

#body-container {
  display: block;
  margin: auto;
  padding: 0% 15% 5%;
  max-width: 600px;
}

#body-container h1 {
  text-align: center;
  margin: 20px 0px 0px;
}
#body-container h2 {
  text-align: center;
  margin: 20px 0px 0px;
}
#body-container h3 {
  margin: 10px 0px 0px;;
}

ul {
  padding-left: 20px;
}

footer {
  padding: 0% 0% 10%;
  color: white;
  background-color: gray;
  text-align: center;
}
