ol,
ul {
  border: 1px solid black;
}

#body-container h1 {
  text-align: center;
}

#body-container h2 {
  text-align: center;
  margin: 50px 0px 0px;
}

#sus {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
