<footer>
  <p>© Copyright 2023 Bright Lin. All rights reserved.</p>
  <a href="/about">About</a>
  <a href="/memo">Memory</a>
</footer>

<script type="module" src="/public/lib/face.js"></script>
<script type="module" src="/public/api/lang.js"></script>
