<footer>
  <p>© Copyright 2023 - 2024 Mingruifu Lin</p>
  <a href="/tech">Tech/Coding</a>
  <a href="/music">Music</a>
  <a href="/writing">Poetry/Stories</a>
  <a href="/contact">Contact</a>
</footer>
