<header>
  <a href="/"><img src="/public/images/favicon.png" /></a>
  <nav>
    <a href="/">Home</a>
    <a href="/math">Mathematics</a>
    <a href="/tech">Technology</a>
    <a href="/music">Music</a>
  </nav>
</header>
