<header>
  <h1><a href="/">BRIGHT LIN</a></h1>
  <nav>
    <a href="/">Home</a>
    <a href="/math-roadmap">Math</a>
    <a href="/science-roadmap">Science</a>
    <a href="/code">Tech</a>
    <a href="/music">Music</a>
    <a href="/rpg">RPG</a>
  </nav>
</header>
