<header>
  <h1><a href="/">Anonymous Website</a></h1>
  <nav>
    <a href="/">Home</a>
    <a href="/math-roadmap">Math</a>
    <a href="/code">Tech</a>
    <a href="/music">Music</a>
  </nav>
</header>
