<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>About</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>About</h1>

      <h2>Website</h2>
      <ul>
        <li>
          Object: Personal website exposing used/prospective math resources + other interesting
          stuff!
        </li>
        <li>Purpose: May the math cult grow in power!</li>
        <li>Method: Hosted on gcloud.</li>
      </ul>

      <h2>Me</h2>
      <ul>
        <li>Mingruifu Lin</li>
        <li>Marianopolis 2023-2025</li>
        <li>Pure and Applied</li>
        <li>INTJ-T</li>
        <li><a href="https://www.instagram.com/mygnlin/">Instagram</a></li>
        <li><a href="https://github.com/mygn-l">Github</a></li>
        <li><a href="https://musescore.com/user/49115958">Musescore</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
