<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>About</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>About</h1>

      <figure>
        <img src="/public/images/license-photo.jpg" />
        <figcaption>Who TF is this dude !?</figcaption>
      </figure>

      <p>
        My name is Mingruifu Lin. I'm currently a CEGEP student in Pure and Applied Science at
        Marianopolis (end 2025). I haven't done anything quite special in my life though. When I'm
        not at school, I'm usually exploring random math topics, playing the violin or the piano,
        reading, working out, or simply chilling, inside or outside.
      </p>

      <p>
        This website aims to spread the math cult's influence across the globe. Consider joining,
        <a href="/math">it's really easy</a>! Currently hosted on Gcloud, previously hosted on
        Heroku, who has sadly removed their free plan.
      </p>

      <p>
        This sentence confirms the link to my
        <a href="https://www.instagram.com/mygnlin/">Instagram</a>.
      </p>

      <p><a href="/contact">Contact me</a>.</p>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
