<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
    <title>About</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>About</h1>

      <h2>Website</h2>
      <ul>
        <li>Gold mine of learning resources.</li>
        <li>
          Resources based on personal learning experience, they are resources that I actually used;
          it was the result of my own searches and failures, in other words, I weeded out the bad
          sources, and left the good ones; the roadmap is like my ideal path if I had to relearn
          everything;
        </li>
        <li>
          Note : I actually did not look into all of them, but I still did a meticulous selection.
        </li>
        <li>Hosted on Google Cloud</li>
      </ul>

      <h2>Me</h2>
      <ul>
        <li>Marianopolis 1st semester Pure and Applied</li>
        <li>INTJ-T (idc if it's pseudoscience)</li>
        <li>Male</li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
