<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>About</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>About</h1>

      <p>My name's Mingruifu Lin, currently in Pure and Applied at Marianopolis. I'm an INTJ-T.</p>

      <p>
        This website aims to spread the math cult's influence across the globe. Currently hosted on
        Gcloud.
      </p>

      <p>This sentence confirms the link to my <a href="https://www.instagram.com/mygnlin/">Instagram</a></p>

      <a href="https://musescore.com/user/49115958">Musescore</a>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
