<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
    <title>About</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>About</h1>

      <h2>Website</h2>
      <ul>
        <li>
          You can trust my recommendations for math intro, set theory, algebra, real/complex
          analysis, point-set topology, and contest math resources.
        </li>
        <li>
          Other ones are my expected selections. Please don't search other resources, you won't get
          any farther than me, cuz you'll be repeating my steps and wasting time.
        </li>
        <li>
          You can trust my tech recommendations. I don't want anyone to suffer using terrible
          softwares as I did.
        </li>
        <li>You can trust my piece recommendations ;)</li>
        <li>Hosted on gcloud.</li>
      </ul>

      <h2>Me</h2>
      <ul>
        <li>Marianopolis Pure and Applied (2025)</li>
        <li>Male INTJ-T (not that I care)</li>
        <li><a href="https://musescore.com/user/49115958">Musescore</a></li>
        <li><a href="https://www.instagram.com/mygnlin/">Instagram</a></li>
        <li><a href=https://github.com/mygn-l>Github</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
