<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Blog: From Facts to Conclusions</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Blog: From Facts to Conclusions</h1>

      <ul>
        <li><a href="/blog/education">Education</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
