<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/code.css" rel="stylesheet" type="text/css" />
    <title>Bright Lin</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>Technology</h1>

      <h2>Computer science</h2>

      <h3>Roadmap</h3>
      <ol>
        <li><a href="https://teachyourselfcs.com/">Nice website</a></li>
      </ol>

      <h3>Machine learning</h3>
      <ol>
        <li>3 Blue 1 Brown : Neural networks (playlist)</li>
        <li><a href="http://neuralnetworksanddeeplearning.com/index.html">Michael Nielsen</a></li>
      </ol>

      <h2>Electronics</h2>

      <ol>
        <li>Khan Academy electronics</li>
        <li><a href="https://www.electronics-tutorials.ws/">Electronics tutorials</a></li>
        <li><a href="https://docs.arduino.cc/">Arduino</a></li>
      </ol>

      <h2>Tech resources</h2>
      <ol>
        <h4>Graphics and video editing tools</h4>
        <li>Krita</li>
        <li>GIMP</li>
        <li>Blender</li>
        <li>OBS</li>
        <li>Davinci Resolve</li>
      </ol>
      <ol>
        <h4>Sound editing tools</h4>
        <li>LMMS</li>
        <li>Audacity</li>
      </ol>
      <ol>
        <h4>Game engines</h4>
        <li>Unity (beginner friendly, C#)</li>
        <li>Unreal (advanced, C++)</li>
      </ol>

      <h2>Coding in general</h2>

      <h3>Viable languages</h3>
      <ol>
        <li>JavaScript</li>
        <li>Java</li>
        <li>Python</li>
        <li>C++</li>
        <li>C#</li>
      </ol>

      <h3>Documentation websites</h3>
      <ol>
        <li>Dev docs</li>
        <li>Geeks for geeks</li>
      </ol>

      <h3>Practice</h3>
      <ol>
        <li>
          <a
            href="https://www.reddit.com/r/learnprogramming/comments/2a9ygh/1000_beginner_programming_projects_xpost/"
            >Mega list</a
          >
        </li>
        <li>
          <a href="https://cses.fi/">Algorithms</a>
        </li>
      </ol>

      <h2>Web dev</h2>

      <h3>JS resources</h3>

      <ol>
        <h4>Graphics librairies</h4>
        <li>Three.js</li>
        <li>Babylon.js</li>
        <li>OpenGL</li>
      </ol>
      <ol>
        <h4>Hosts</h4>
        <li>Ngrok (not a host)</li>
        <li>Github pages</li>
        <li>Google cloud</li>
      </ol>
      <ol>
        <h4>Repositories</h4>
        <li>Github</li>
      </ol>
      <ol>
        <h4>Databases</h4>
        <li>MongoDB</li>
      </ol>

      <h3>Express-based website</h3>
      <ul>
        <h4>File structure</h4>
        <li>
          <a href="https://github.com/KineticJetIce245/hackathon">See here</a> (personal Github)
        </li>
        <li>
          <a href="https://dev.to/santypk4/bulletproof-node-js-project-architecture-4epf"
            >Or here</a
          >
        </li>
      </ul>
      <ol>
        <h4>Default NPM dependencies</h4>
        <li>agenda</li>
        <li>bcrypt</li>
        <li>canvas</li>
        <li>compression</li>
        <li>connect-redis</li>
        <li>cors</li>
        <li>ejs</li>
        <li>express</li>
        <li>express-session</li>
        <li>helmet</li>
        <li>mongodb</li>
        <li>mongoose</li>
        <li>nocache</li>
        <li>redis</li>
        <li>serve-favicon</li>
        <li>socket.io</li>
        <li>vhost</li>
      </ol>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
