<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Vitae</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Curriculum Vitae</h1>

      <h2>Mingruifu Lin</h2>

      <p>CEGEP student, Pure and Applied Science, Marianopolis College</p>
      <p>(438) 779-7966 &emsp; brightlin777@gmail.com</p>

      <h3>Education</h3>

      <h4><strong>Ecole internationale de Montreal</strong> / Sept 2018 - June 2023</h4>
      <p>Secondary School Diploma / 89% average</p>

      <h4><strong>Marianopolis College</strong> / August 2023 - Present</h4>
      <p>CEGEP, Pure and Applied Science / 88% average currently</p>

      <h3>Languages</h3>

      <h4>
        <strong>English</strong>, upper-intermediate. &emsp; <strong>French</strong>, fluent. &emsp;
        <strong>Mandarin</strong>, fluent.
      </h4>

      <h3>Skills</h3>
      <ul>
        <li><strong>Programming languages:</strong> NodeJS, Python, Arduino.</li>
        <li>
          <strong>Technology:</strong> Full-stack with ExpressJS, MacOS development environment, 3D
          graphics pipeline, neural networks, Git, NPM, Homebrew, Terminal, MongoDB.
        </li>
        <li>
          <strong>Mathematics:</strong> Mathematical maturity, LaTeX, calculus 1, 2, multivariable
          calculus, differential equations, linear algebra, modern algebra, real analysis, functions
          of a complex variable, logic, set theory, number theory, point-set topology,
          combinatorics.
        </li>
        <li>
          <strong>Softwares:</strong> Visual Studio Code, XCode, Microsoft (Word, PowerPoint, Excel,
          Teams), Google (Docs, Sheets), Blender, GIMP, Krita, LMMS, Musescore, OBS.
        </li>
      </ul>

      <h3>Competitions and Awards</h3>

      <h4><strong>Canadian Robotics Competition</strong> / Marianopolis team / April 2024</h4>
      <ul>
        <li>1st place overall.</li>
        <li>1st place website content and design, 2nd place programming.</li>
        <li>I mainly took part in website and programming.</li>
      </ul>

      <h4><strong>MariHacks</strong> / Team of 4 / April 2024</h4>
      <ul>
        <li>2nd place.</li>
        <li>
          Algorithm generating a non-self-intersecting, triangulated mesh homeomorphic to the sphere
          passing through each point of a given point cloud. Webpage, where a point cloud file can
          be uploaded and the resulting shape displayed.
        </li>
      </ul>

      <h4><strong>Purple Comet Math Meet</strong> / Team of 5 / Spring 2023</h4>
      <ul>
        <li>1st place Quebec.</li>
      </ul>

      <h4><strong>RSEQ Inter Secondary Chess League</strong> / Team of 10 / 2021 - 2023</h4>
      <ul>
        <li>1st place for 2 consecutive years.</li>
      </ul>

      <h4><strong>Waterloo Math Contests</strong></h4>
      <ul>
        <li>Cayley 2022: 124/150.</li>
        <li>Euclid 2023: 75/100.</li>
        <li>Euclid 2024: 76/100.</li>
      </ul>

      <h3>Projects</h3>

      <h4><strong>3D Renderer</strong></h4>
      <ul>
        <li>Using linear algebra and JavaScript.</li>
        <li>Camera movement, lighting, mesh translation, rotation, 3D file parsing.</li>
      </ul>

      <h4><strong>Feedforward neural network</strong></h4>
      <p>Using multivariable calculus and NodeJS.</p>

      <h4><strong>Personal website</strong></h4>
      <p>Hosted on Google Cloud, used ExpressJS.</p>

      <h4><strong>News club website</strong></h4>
      <p>Hosted on Heroku, used ExpressJS.</p>

      <h4><strong>Basic calculator</strong></h4>
      <p>Using reverse Polish notation and NodeJS.</p>

      <h3>Clubs</h3>

      <h4><strong>Chess club</strong> (high school)</h4>
      <p>Winner of RSEQ Inter Secondary Chess League for 2 consecutive years.</p>

      <h4><strong>Robotics team</strong> (CEGEP)</h4>
      <p>Winner of Canadian Robotics Competition.</p>

      <h4><strong>Pure math club</strong> (CEGEP)</h4>
      <p>I founded the club to get people to know about pure mathematics.</p>

      <h4><strong>Music playing club</strong> (CEGEP)</h4>
      <p>Play music (violin) for seniors in retirement homes.</p>

      <h3>Hobbies</h3>

      <h4><strong>Mathematics</strong></h4>
      <p>
        University-level pure mathematics from textbooks and online lectures. Subject areas already
        listed above in skills.
      </p>

      <h4><strong>Coding</strong></h4>
      <p>
        Python and NodeJS. Computations and websites. Hands-on creativity. Some projects listed
        above.
      </p>

      <h4><strong>Ping-pong and badminton</strong></h4>
      <p>Weekends and summer casual with friends.</p>

      <h4><strong>Gym</strong></h4>
      <p>Cardio, muscles and stretching. Calisthenics.</p>

      <h4><strong>Violin</strong></h4>
      <p>
        12 years of playing total. Took classes for 7 years as a child. Favorite composer is Bach.
        Performed multiple times for school or parties. Sometimes had an accompanist.
      </p>

      <h4><strong>Piano</strong></h4>
      <p>6 years of playing. Self-taught. Classical music.</p>

      <h4><strong>Music</strong></h4>
      <p>
        Composition and transcription of pop music. I especially love Bach, so I composed a Baroque
        sonata. Hands-on creativity.
      </p>

      <h4><strong>French literature</strong></h4>
      <p>
        Writing poetry and short stories. Romantic era works, such as from Victor Hugo. Hands-on
        creativity.
      </p>

      <h4><strong>Science</strong></h4>
      <p>
        Frequently read science books and articles. Seize every chance to apply math to natural
        processes, and simulate them with coding. Interesting articles always nourish and reignite
        my interest.
      </p>

      <h4><strong>Chess</strong></h4>
      <p>Casual player. 1900 rating.</p>

      <h3>Community involvement</h3>

      <h4><strong>Tutoring at PROMIS center</strong> / Volunteer / Summers 2021 and 2022</h4>
      <p>Tutoring young immigrants that are in elementary school, helping with homework.</p>

      <h4><strong>Food Bank</strong> / Volunteer / Summers 2021 and 2022</h4>
      <p>Communicating with people and workers, restocking the shelves, packing for delivery.</p>

      <h3>Lifestyle and balance</h3>
      <p>
        To relax, I meditate, take a nap, walk outside, playing piano, write some poems. I must pay
        attention to my posture, since I have a slouched back. I must drink a lot of water to
        counter my kidney disease. I regularly go to the local library to read physical books, to
        limit my screen time. I also enjoy watching shows and playing video games. I do many house
        chores.
      </p>

      <h3>Dream</h3>
      <p>
        Research applied math for a lifetime. Possibly develop science softwares using mathematical
        tools, such as computational fluid dynamics, finite element analysis, differential
        equations, and other. Ideally, become a researcher or a professor.
      </p>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
