<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Vitae</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Curriculum Vitae</h1>

      <h2>Mingruifu Lin</h2>

      <p>CEGEP student, Pure and Applied Science, Marianopolis College</p>
      <p>(438) 779-7966 &emsp; brightlin777@gmail.com</p>
      <p><a href="https://github.com/mygn-l">Github</a></p>

      <h3>Education</h3>

      <h4><strong>Ecole internationale de Montreal</strong> / Sept 2018 - June 2023</h4>
      <p>Secondary School Diploma / 89% average</p>

      <h4><strong>Marianopolis College</strong> / August 2023 - Present</h4>
      <p>CEGEP, Pure and Applied Science / 88% average currently</p>

      <h3>Research interests</h3>
      <p>
        Computational fluid dynamics, finite element analysis, differential equations, mathematical
        logic, cryptography, numeral analysis.
      </p>

      <h3>Languages</h3>

      <p>
        <strong>English</strong>, fluent. &emsp; <strong>French</strong>, fluent. &emsp;
        <strong>Mandarin</strong>, fluent, speak only.
      </p>

      <h3>Programming languages</h3>
      <ul>
        <li>
          <strong>JavaScript</strong>, fluent, VSCode, mainly for making working examples or
          websites.
        </li>
        <li>
          <strong>NodeJS</strong>, backend, ExpressJS, MacOS devlopment environment, basic Git, NPM,
          Homebrew, MongoDB.
        </li>
        <li>
          <strong>Python</strong>, basic, mostly for mathematical computation and visualization.
        </li>
      </ul>

      <h3>Mathematics</h3>
      <p>
        LaTeX, calculus 1 and 2, multivariable calculus, differential equations, real analysis,
        complex analysis, point-set topology, linear algebra, modern algebra, mathematical logic,
        set theory, number theory, combinatorics.
      </p>

      <h3>Projects</h3>

      <h4><strong>3D Renderer</strong></h4>
      <ul>
        <li>Using linear algebra and JavaScript.</li>
        <li>Camera, lighting, translation, rotation.</li>
      </ul>

      <h4><strong>Propositional logic calculator</strong></h4>
      <p>Using propositional calculus and NodeJS.</p>

      <h4><strong>Feedforward neural network</strong></h4>
      <p>Using multivariable calculus and NodeJS.</p>

      <h4><strong>Basic calculator</strong></h4>
      <p>Using reverse Polish notation and NodeJS.</p>

      <h4><strong>Personal website (this one)</strong></h4>
      <p>Using ExpressJS, hosted on Google Cloud.</p>

      <h3>Community involvement</h3>

      <h4><strong>Tutoring</strong> / Volunteer / Summer 2023</h4>
      <p>Tutoring young immigrants in elementary school, helping with homework.</p>

      <h4><strong>Food Bank</strong> / Volunteer / Summers 2021 and 2022</h4>
      <p>Communicating with people and workers, restocking the shelves, packing for delivery.</p>

      <h3>Competitions and Awards</h3>

      <h4><strong>1st Canadian Robotics Competition</strong> / Marianopolis team / 2024</h4>
      <p>
        Overall 1st place, website 1st place , programming 2nd place; I mainly took part in website
        and programming.
      </p>

      <h4><strong>2nd MariHacks</strong> / Team of 4 / 2024</h4>
      <p>
        Advanced category 2nd place. Project was an algorithm generating a non-self-intersecting,
        triangulated mesh with no holes passing through each point of a given point cloud.
      </p>

      <h4><strong>1st Purple Comet Math Meet Quebec</strong> / Team of 5 / 2023</h4>

      <h4><strong>1st RSEQ Inter Secondary Chess League</strong> / Team of 5 / 2021 - 2023</h4>
      <p>2 consecutive years 1st place; I was 2nd board.</p>

      <h4><strong>Top 5% Waterloo Math Contests</strong></h4>
      <p>Cayley 2022: 124/150. Euclid 2023: 75/100. Euclid 2024: 76/100.</p>

      <h3>Clubs</h3>

      <h4><strong>Chess club</strong> (high school)</h4>

      <h4><strong>Robotics team</strong> (CEGEP)</h4>

      <h4><strong>Pure math club</strong> (CEGEP)</h4>
      <p>I founded the club to popularize pure math.</p>

      <h4><strong>Music playing club</strong> (CEGEP)</h4>
      <p>Play violin in retirement homes.</p>

      <h3>Hobbies</h3>

      <h4><strong>Mathematics</strong></h4>
      <p>University-level pure mathematics from textbooks and online lectures.</p>

      <h4><strong>Gym</strong></h4>
      <p>Cardio, muscles and stretching. Calisthenics.</p>

      <h4><strong>Violin and piano</strong></h4>
      <p>
        12 years of violin. Favorite composer is Bach. Performed a few times. 6 years of self-taught
        piano. Chopin.
      </p>

      <h4><strong>French literature</strong></h4>
      <p>
        Writing poetry and short stories. Romantic era and Victor Hugo. Regularly go to library and
        read random books.
      </p>

      <h4><strong>Chess</strong></h4>
      <p>Casual player. 1850 rating online.</p>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
