<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Mingruifu Lin</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Home</h1>

      <h3>Good reads</h3>
      <h4><strong>Non-fiction</strong></h4>
      <p>GEB - Hofstadter, Einstein - Isaacson, Repertoire - Kaufman, Endgame - Dvorestsky</p>
      <h4><strong>Fiction</strong></h4>
      <p>
        Swann - Proust, Miserables - Hugo, 100 years solitude - Marquez, Cthulhu - Lovecraft,
        <a href="https://scp-wiki.wikidot.com/">SCP</a>, Watchmen - Moore, Left Hand - Le Guin
      </p>
      <h4><strong>Poetry</strong></h4>
      <p>Contemplations - Hugo, Fleurs - Baudelaire, Poesies completes - Nelligan</p>

      <h3>Channels</h3>
      <h4><strong>Math</strong></h4>
      <ul>
        <li><a href="https://www.youtube.com/@brightsideofmaths">Bright side</a></li>
        <li><a href="https://www.youtube.com/@richarde.borcherds7998">Borcherds</a></li>
        <li><a href="https://www.youtube.com/channel/UCoxcjq-8xIDTYp3uz647V5A">Numberphile</a></li>
        <li><a href="https://www.youtube.com/@3blue1brown">3B1B</a></li>
        <li><a href="https://www.youtube.com/@mathemaniac">Mathemaniac</a></li>
        <li><a href="https://www.youtube.com/@FacultyofKhan">Faculty Khan</a></li>
      </ul>
      <h4><strong>Science</strong></h4>
      <ul>
        <li><a href="https://www.youtube.com/@mitocw/featured">MIT</a></li>
        <li><a href="https://www.youtube.com/@ScienceClicEN">Science clic</a></li>
        <li><a href="https://www.youtube.com/@QuantaScienceChannel">Quanta magazine</a></li>
      </ul>
      <h4><strong>Chess</strong></h4>
      <ul>
        <li><a href="https://www.youtube.com/@HangingPawns">Hanging pawns</a></li>
      </ul>

      <h3>Physics</h3>
      <ul>
        <li>
          <a href="https://www.susanjfowler.com/blog/2016/8/13/so-you-want-to-learn-physics"
            >Physics Fowler</a
          >
        </li>
        <li><a href="https://www.goodtheorist.science/">Physics Hooft</a></li>
      </ul>

      <h3>Free pdfs</h3>
      <ul>
        <li>
          <a href="https://libgen.is">Libgen</a>
        </li>
      </ul>

      <h3>Articles and scholarly (not exhaustive)</h3>
      <p>
        <a href="https://sci-hub.se">SciHub (our holy savior)</a>,
        <a href="https://arxiv.org">Arxiv.org</a>,
        <a href="https://mathscinet.ams.org/mathscinet/publications-search">MathSciNet</a>,
        <a href="https://zbmath.org">Zentralblatt</a>,
        <a href="https://search.worldcat.org">Worldcat</a>,
        <a href="https://scholar.google.com">Google scholar</a>,
        <a href="https://news.mit.edu">MIT newd</a>, <a href="https://phys.org">Phys.org</a>,
        <a href="https://www.nature.com">Nature</a>, <a href="https://www.science.org">Science</a>,
        <a href="https://www.pnas.org">PNAS</a>,
        <a href="https://www.quantamagazine.org">Quanta magazine</a>,
        <a href="https://libguides.mit.edu/math">MIT libguides</a>,
        <a href="https://libguides.bodleian.ox.ac.uk/maths">Oxford libguides</a>,
        <a href="https://guides.library.stanford.edu/mathstat">Stanford libguides</a>,
        <a href="https://libguides.princeton.edu/c.php?g=84070&p=540950">Princeton libguides</a>,
        <a href="https://libguides.cam.ac.uk/maths">Cambridge libguides</a>,
        <a href="https://www.math.harvard.edu/resources/electronic-library-research-resources/"
          >Harvard libguides</a
        >
      </p>

      <h3>Games</h3>
      <ul>
        <li>
          <a href="https://spaceflight-simulator.fandom.com/wiki/Spaceflight_Simulator_Wiki"
            >Spaceflight Simulator</a
          >
        </li>
        <li><a href="https://idv.163.com/">Identity V</a></li>
        <li><a href="https://elona.fandom.com/f/p/4400000000000047543">Elona+2.22</a></li>
      </ul>

      <h3>Miscellaneous</h3>
      <ul>
        <li><a href="https://www.chess.com/member/ming_le_nul">Send a daily chess request</a></li>
        <li><a href="https://www.windows93.net/">Windows 93</a></li>
        <li><a href="http://internet-map.net/">Internet map</a></li>
        <li><a href="https://cloudatlas.wmo.int/en/clouds.html">Cloud classification</a></li>
        <li><a href="https://themathlab.com/geometry/funnyproofs.htm">Best proof methods</a></li>
        <li><a href="https://promys.org/programs/promys/for-students/application/">PROMYS</a></li>
      </ul>

      <h3>Creations and replications</h3>
      <ul>
        <li><a href="/3d-eng">3D engine</a></li>
        <li><a href="/handwriting">Handwritten digit recognition</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
