<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Mingruifu Lin</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Home</h1>

      <h3>Fun channels</h3>
      <h4><strong>Science</strong></h4>
      <p>
        <a href="https://www.youtube.com/@mitocw/featured">MIT</a>,
        <a href="https://www.youtube.com/@ScienceClicEN">Science clic</a>,
        <a href="https://www.youtube.com/@QuantaScienceChannel">Quanta magazine</a>
      </p>
      <h4><strong>Chess</strong></h4>
      <p><a href="https://www.youtube.com/@HangingPawns">Hanging pawns</a></p>

      <h3>Guide to physics</h3>
      <p>
        <a href="https://www.susanjfowler.com/blog/2016/8/13/so-you-want-to-learn-physics"
          >Physics Fowler</a
        >,
        <a href="https://www.goodtheorist.science/">Physics Hooft</a>
      </p>

      <h3>Free pdfs</h3>
      <ul>
        <li>
          <a href="https://libgen.is">Libgen</a>
        </li>
      </ul>

      <h3>Articles and scholarly</h3>
      <p>
        Not exhaustive:
        <a href="https://sci-hub.se">SciHub (our holy savior)</a>,
        <a href="https://arxiv.org">Arxiv.org</a>,
        <a href="https://mathscinet.ams.org/mathscinet/publications-search">MathSciNet</a>,
        <a href="https://zbmath.org">Zentralblatt</a>,
        <a href="https://search.worldcat.org">Worldcat</a>,
        <a href="https://scholar.google.com">Google scholar</a>,
        <a href="https://news.mit.edu">MIT newd</a>, <a href="https://phys.org">Phys.org</a>,
        <a href="https://www.nature.com">Nature</a>, <a href="https://www.science.org">Science</a>,
        <a href="https://www.pnas.org">PNAS</a>,
        <a href="https://www.quantamagazine.org">Quanta magazine</a>,
        <a href="https://libguides.mit.edu/math">MIT libguides</a>,
        <a href="https://libguides.bodleian.ox.ac.uk/maths">Oxford libguides</a>,
        <a href="https://guides.library.stanford.edu/mathstat">Stanford libguides</a>,
        <a href="https://libguides.princeton.edu/c.php?g=84070&p=540950">Princeton libguides</a>,
        <a href="https://libguides.cam.ac.uk/maths">Cambridge libguides</a>,
        <a href="https://www.math.harvard.edu/resources/electronic-library-research-resources/"
          >Harvard libguides</a
        >
      </p>

      <h3>Underrated games</h3>
      <p>
        <a href="https://spaceflight-simulator.fandom.com/wiki/Spaceflight_Simulator_Wiki"
          >Spaceflight Simulator</a
        >, <a href="https://idv.163.com/">Identity V</a>,
        <a href="https://elona.fandom.com/f/p/4400000000000047543">Elona+</a>
      </p>

      <h3>Creations and replications</h3>
      <ul>
        <li><a href="/3d-eng">3D graphics engine</a></li>
        <li>
          <a href="/handwriting">Handwritten digit recognition</a> (does NOT work properly yet)
        </li>
      </ul>

      <h3>Misc</h3>
      <ul>
        <li>
          <a href="https://www.chess.com/member/ming_le_nul">Send me a daily chess request</a>
        </li>
        <li><a href="https://www.windows93.net/">Windows 93</a></li>
        <li><a href="http://internet-map.net/">Internet map</a></li>
        <li><a href="https://cloudatlas.wmo.int/en/clouds.html">Cloud classification</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
