<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
    <title>Bright Lin</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>Home</h1>

      <h2>Interesting stuff</h2>
      <ul>
        <li><a href="https://www.windows93.net/">Windows 93</a></li>
        <li><a href="http://internet-map.net/">Internet map</a></li>
        <li><a href="https://osintframework.com/">OSINT</a></li>
        <li><a href="https://cloudatlas.wmo.int/en/clouds.html">Cloud classification</a></li>
        <li><a href="https://scp-wiki.wikidot.com/">SCP</a></li>
        <li>
          <a href="https://spaceflight-simulator.fandom.com/wiki/Spaceflight_Simulator_Wiki"
            >Spaceflight Simulator</a
          >
        </li>
        <li><a href="https://idv.163.com/">Identity V</a></li>
        <li>
          <a href="https://www.susanjfowler.com/blog/2016/8/13/so-you-want-to-learn-physics"
            >Physics 1</a
          >
        </li>
        <li><a href="https://www.goodtheorist.science/">Physics 2</a></li>
      </ul>

      <h2>RPG 3D</h2>
      <ul>
        <li><a href="/rpg">Click here</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
