<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/math-roadmap.css" rel="stylesheet" type="text/css" />
    <title>Bright Lin</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>Pure Math Roadmap</h1>

      <h3>Alternative sources</h3>
      <ul>
        <li><a href="https://math.mit.edu/academics/undergrad/subjects/index.html">MIT</a></li>
        <li><a href="https://libguides.mit.edu/c.php?g=176079&p=1159723">MIT textbooks</a></li>
        <li><a href="https://www.reddit.com/r/math/wiki/faq/#wiki_what_are_some_good_books_on_topic_x.3F">Reddit books</a></li>
      </ul>

      <h2>Introduction to mathematics</h2>

      <h3>Calculus</h3>
      <ul>
        <li>Precalculus - Khan Academy</li>
        <li>Essence of calculus - 3B1B (playlist)</li>
        <li>Differential calculus - Khan Academy</li>
        <li>Integral calculus - Khan Academy</li>
        <h4>The followings require linear algebra :</h4>
        <li>Multivariable calculus - Khan Academy</li>
        <li>Differential equations - Khan Academy</li>
      </ul>

      <h3>Basic linear algebra</h3>
      <ul>
        <li>Essence of linear algebra - 3B1B (playlist)</li>
        <li>Linear algebra - Khan Academy</li>
      </ul>

      <h3>Exercises</h3>
      <ol>
        <li>
          <a
            href="https://www.math-exercises.com/limits-derivatives-integrals/derivative-of-a-function"
            >Derivatives</a
          >
        </li>
        <li>
          <a
            href="https://www.math-exercises.com/limits-derivatives-integrals/indefinite-integral-of-a-function"
            >Integration</a
          >
        </li>
        <li>
          <a href="https://people.math.sc.edu/girardi/m142/integration/100problems.pdf"
            >Integration </a
          >(hard)
        </li>
      </ol>

      <h2>Foundations of math</h2>
      <h4>Description :</h4>
      There are numerous valid foundations for math. The most widely used is ZFC. However, naive set
      theory is easier to understand.
      <h4>Prerequisite :</h4>
      Introduction to mathematics

      <h3>Set theory</h3>
      <ol>
        <li>
          Start Learning Mathematics - The Bright Side of Mathematics (playlist, note-taking) (naive
          set theory)
        </li>
        <li>
          Elements of set theory - Enderton (pdf) (axiomatic set theory : ZFC) (get the solution
          manual) <br />
        </li>
      </ol>

      <h3>Proof</h3>
      <ol>
        <li>Book of proof - Hammack (pdf)</li>
      </ol>

      <h2>Algebra</h2>
      <h4>Description :</h4>
      Algebra studies algebraic structures. Group theory is the main topic in abstract algebra, and
      it is intertwined with number theory. Linear algebra comes with its own special flavor, and is
      more concrete.
      <h4>Prerequisite :</h4>
      Introduction to mathematics, set theory, some number theory

      <h3>Linear algebra</h3>
      <ol>
        <li>Linear algebra done right - Axler (pdf)</li>
      </ol>

      <h3>Abstract algebra</h3>
      <ol>
        <li>Mathemaniac : Essence of group theory (playlist, note-taking)</li>
        <li>Topics in Algebra - Hernstein (pdf)</li>
        <li>OR ALTERNATIVELY : Abstract Algebra - Dummit & Foote (pdf)</li>
        <li>Richard Borcherds : Group theory (playlist, note-taking)</li>
        <li>Galois theory - Leinstein (pdf)</li>
      </ol>

      <h2>Analysis</h2>
      <h4>Description :</h4>
      Real analysis studies real numbers. Complex analysis studies complex numbers.
      <h4>Prerequisite :</h4>
      Set theory, calculus

      <h3>Real analysis</h3>
      <ol>
        <li>Real analysis - The Bright Side of Mathematics (playlist, note-taking)</li>
        <li>Understanding analysis - Abbott (pdf)</li>
        <li>Fourier analysis - Stein (pdf)</li>
      </ol>

      <h3>Complex analysis</h3>
      <ol>
        <li>
          <a href="https://complex-analysis.com/">Complex analysis.com</a>
        </li>
        <li>Complex analysis - Lang (pdf)</li>
      </ol>

      <h2>Topology and geometry</h2>
      <h4>Description :</h4>
      Topology has 3 branches : point-set topology (general topology), algebraic topology
      (combinatorial topology), differential topology (differential geometry).
      <h4>Prerequisite :</h4>
      Algebra, analysis, set theory

      <h3>Intuition</h3>
      <ol>
        <li>
          Topology and Geometry - Tadashi Tokieda (playlist, note-taking, a bit of algebraic
          topology mixed in)
        </li>
      </ol>

      <h3>Point-set topology</h3>
      <ol>
        <li>
          Topology - Bruno Zimmerman (playlist, note-taking, a bit of algebraic topology near the
          end)
        </li>
        <li>Topology - Munkres (pdf, Bruno Zimmerman uses this as manual)</li>
        <li>
          <a href="http://www.math.toronto.edu/ivan/mat327/?resources"
            >Point-set topology Toronto</a
          >
        </li>
      </ol>

      <h3>Algebraic topology</h3>
      <ol>
        <li>Algebraic topology - Hatcher (pdf)</li>
      </ol>

      <h3>Differential topology</h3>
      <ol>
        <li>Manifolds - The Bright Side of Mathematics (playlist, note-taking)</li>
        <li>Differential geometry - Boothby (pdf)</li>
      </ol>

      <h2>Discrete mathematics</h2>
      <ol>
        <li>Combinatorics - Cameron (pdf)</li>
        <li>Richard Borcherds : Number theory (playlist, note-taking)</li>
        <li>Number theory - Hardy (pdf)</li>
      </ol>

      <h2>Probability and statistics</h2>
      <ol>
        <li>Probability - Ross (pdf)</li>
      </ol>

      <h2>Euclidean geometry</h2>
      <ol>
        <li>Euclidea game : <a href="https://www.euclidea.xyz/">Euclidea</a></li>
        <li>Euclid's Elements (pdf)</li>
      </ol>

      <h2>Interdisciplinary and applied math</h2>
      <ul>
        <li>Introduction to Game Theory - Osborne (pdf)</li>
        <li>Nonlinear dynamics and chaos - Strogatz (pdf)</li>
      </ul>

      <h2>Contest math</h2>

      <h3>Contests</h3>
      <ol>
        <li>
          <a href="https://www.cemc.uwaterloo.ca/contests/past_contests.html">Waterloo</a>
        </li>
        <li><a href="https://cms.math.ca/competitions/comc/comc2023/getting-ready/">COMC</a></li>
        <li><a href="https://www.imo-official.org/problems.aspx">IMO</a></li>
        <li>
          <a href="https://www.maa.org/math-competitions/putnam-competition-archive-0">Putnam</a>
        </li>
        <li>AMC (past problems on AOPS)</li>
        <li>
          <a href="https://math.mit.edu/~yyao1/integrationbee.html">MIT integration bee</a>
        </li>
        <li><a href="https://www.apmo-official.org/problems">APMO</a></li>
      </ol>

      <h3>Resources</h3>
      <ul>
        <li>Practice past problems (duh)</li>
        <li>
          Study Euclidean geometry, combinatorics, number theory and algebra/algebraic manipulations.
        </li>
        <li>
          <a href="https://artofproblemsolving.com/wiki/">AOPS</a>
          <a href="https://artofproblemsolving.com/wiki/index.php/Olympiad_books"
            >Recommendations</a
          >
        </li>
        <li>
          <a href="https://web.evanchen.cc/otis.html">Evan Chen OTIS</a>
          <a href="https://web.evanchen.cc/olympiad.html">Articles</a>
          <a href="https://web.evanchen.cc/recommend.html">Recommendations</a>
          <a href="https://web.evanchen.cc/textbooks/OTIS-Excerpts.pdf">OTIS excerpt</a>
        </li>
        <li><a href="https://sites.google.com/site/imocanada/home">Canada IMO</a></li>
        <li>
          <a href="https://imomath.com/index.cgi?page=problemsFromOlympiads">More IMO problems</a>
        </li>
        <li>Art and craft of problems solving - Zeitz (pdf)</li>
        <li>Geometric transformations - Yaglom (pdf)</li>
        <li>Problems in plane geometry - Viktor Prasolov (pdf)</li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
