<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Mathematics</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Mathematics</h1>

      <h2>Remarks</h2>
      <p>
        Core/necessary subjects are <em>introduction to mathematics</em>, <em>real analysis</em>,
        <em>complex analysis</em>, <em>linear algebra</em>, <em>abstract algebra</em>,
        <em>point-set topology</em>, and introductory <em>number theory</em>. Further study, which
        is determined by one's interests, will be difficult without these prerequisites.
      </p>
      <p>If a link doesn't work, search the textbook on LibGen. They probably have it.</p>
      <p>
        The line in each section separates resources I've finished vs resources that I'm currently
        using or planning to use. If there is no line, everything in the section is finished.
      </p>
      <p>
        Multiple books on the same topic is better than a single "best" book on the topic. There
        isn't one, anyways.
      </p>
      <p>Self-learning comes with self-research outside of textbooks or lectures.</p>

      <h3>Useful links</h3>
      <ul>
        <li><a href="https://math.mit.edu/academics/undergrad/roadmaps.html">Programs</a> - MIT</li>
        <li>
          <a
            href="https://www.reddit.com/r/math/wiki/faq/#wiki_what_are_some_good_books_on_topic_x.3F"
            >Textbook recommendations</a
          >
          - Reddit
        </li>
        <li><a href="https://www.latex-project.org/about/">Documentation</a> - LaTeX</li>
      </ul>

      <h3>Popular math channels</h3>
      <p>
        <a href="https://www.youtube.com/@richarde.borcherds7998">Borcherds</a>,
        <a href="https://www.youtube.com/channel/UCoxcjq-8xIDTYp3uz647V5A">Numberphile</a>,
        <a href="https://www.youtube.com/@mathemaniac">Mathemaniac</a>,
        <a href="https://www.youtube.com/@FacultyofKhan">Faculty Khan</a>
      </p>

      <h3>Of possible interest</h3>
      <ul>
        <li><a href="https://themathlab.com/geometry/funnyproofs.htm">Best proof methods</a> ;)</li>
        <li><a href="https://promys.org/programs/promys/for-students/application/">PROMYS</a></li>
      </ul>

      <h2>Introduction to mathematics</h2>
      <p>
        This section can be more or less boring depending on one's motivation. However, it is a
        crucial step.
      </p>
      <ul>
        <li><a href="https://www.khanacademy.org/math/precalculus">Precalculus</a> - Khan</li>
        <li>
          Essence of
          <a
            href="https://youtube.com/playlist?list=PLZHQObOWTQDMsr9K-rj53DwVRMYO3t5Yr&si=y0iQprEVvy36Drt9"
            >calculus</a
          >
          - 3B1B
        </li>
        <li>
          <a href="https://www.khanacademy.org/math/differential-calculus">Differential calculus</a>
          - Khan
        </li>
        <li>
          <a
            href="https://www.math-exercises.com/limits-derivatives-integrals/derivative-of-a-function"
            >Derivatives exercises</a
          >
        </li>
        <li>
          <a href="https://www.khanacademy.org/math/integral-calculus">Integral calculus</a> - Khan
        </li>
        <li>
          <a
            href="https://www.math-exercises.com/limits-derivatives-integrals/indefinite-integral-of-a-function"
            >Integrals exercises</a
          >
          &emsp;
          <a href="https://people.math.sc.edu/girardi/m142/integration/100problems.pdf"
            >Harder integrals exercises</a
          >
        </li>
        <li>
          Essence of
          <a
            href="https://youtube.com/playlist?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab&si=TVgbPNEAl_fmFioB"
            >linear algebra</a
          >
          - 3B1B
        </li>
        <li><a href="https://www.khanacademy.org/math/linear-algebra">Linear algebra</a> - Khan</li>
        <li>
          <a href="https://www.khanacademy.org/math/multivariable-calculus"
            >Multivariable calculus</a
          >
          - Khan
        </li>
        <li>
          <a
            href="https://www.khanacademy.org/math/differential-equations/first-order-differential-equations"
            >First order differential equations</a
          >
          - Khan
        </li>
        <li>
          <a href="#beginning-logic">Beginning logic</a> by Lemmon is a useful option to take in
          advance.
        </li>
        <li>
          <a
            href="https://youtube.com/playlist?list=PLBh2i93oe2qtbygdXz4u6Mkh7c_hMLBA8&si=YVXFzfeIGcBHzMIx"
            >Intro to pure math</a
          >
          - Bright side
        </li>
      </ul>

      <h2>Analysis</h2>
      <ul>
        <li>
          <a
            href="https://youtube.com/playlist?list=PLBh2i93oe2quABbNq4I_-hyjhW8eOdgrO&si=XR984hDwWNJNytzI"
            >Real analysis</a
          >
          - Bright side
        </li>
        <li>
          (<a
            href="http://ndl.ethernet.edu.et/bitstream/123456789/88631/1/2015_Book_UnderstandingAnalysis.pdf"
            >Understanding analysis</a
          >
          +
          <a href="https://www.uli.rocks/understanding-analysis-solutions/main.pdf"
            >solutions manual</a
          >) - Abbott
        </li>
        <li>
          <a
            href="https://youtube.com/playlist?list=PLBh2i93oe2qvMVqAzsX1Kuv6-4fjazZ8j&si=Lb2TqWhSmh3t9Xxb"
            >Measure theory</a
          >
          - Bright side
        </li>
        <li>
          <a href="https://complex-analysis.com/">Complex analysis.com</a>
        </li>
        <hr />
        <li>
          <a
            href="https://mccuan.math.gatech.edu/courses/6321/lars-ahlfors-complex-analysis-third-edition-mcgraw-hill-science_engineering_math-1979.pdf"
            >Complex analysis of one variable</a
          >
          - Ahlfors
        </li>
        <li>
          <a href="http://gen.lib.rus.ec/book/index.php?md5=b994d49c8ab5c0b9bb1adafdfbe27430"
            >Complex analysis</a
          >
          - Lang
        </li>
        <li>
          <a href="http://kryakin.site/am2/Stein-Shakarchi-1-Fourier_Analysis.pdf"
            >Fourier analysis</a
          >
          - Stein
        </li>
      </ul>

      <h3>No resource yet</h3>
      <ul>
        <li>(Rigorous) Multivariable calculus and differential forms</li>
        <li>ODE and PDE</li>
        <li>Functional analysis</li>
        <li>Numerical analysis</li>
      </ul>

      <h2>Algebra</h2>
      <ul>
        <li>
          <a
            href="https://marinazahara22.wordpress.com/wp-content/uploads/2013/10/i-n-herstein-topics-in-algebra-2nd-edition-1975-wiley-international-editions-john-wiley-and-sons-wie-1975.pdf"
            >Topics in algebra</a
          >
          - Hernstein
        </li>
        <li>
          (<a
            href="http://ndl.ethernet.edu.et/bitstream/123456789/88600/1/2015_Book_LinearAlgebraDoneRight.pdf"
            >Linear algebra done right</a
          >
          + <a href="https://github.com/jubnoske08/linear_algebra?tab=readme-ov-file">solutions github</a>)
          - Axler
        </li>
        <hr />
        <li><a href="https://math.jhu.edu/~iyengar/df.pdf">Abstract algebra</a> - Dummit, Foote</li>
        <li>
          <a
            href="https://youtube.com/playlist?list=PL8yHsr3EFj51pjBvvCPipgAT3SYpIiIsJ&si=dP-lIlOOrwDJ_oXT"
            >Group theory</a
          >
          - Borcherds
        </li>
        <li>
          <a href="https://youtube.com/playlist?list=PL49CF3715CB9EF31D&si=naKmjroknGKiome-"
            >Linear algebra lectures</a
          >
          - Strang
        </li>
        <li><a href="https://www.maths.ed.ac.uk/~tl/gt/gt.pdf">Galois theory</a> - Leinstein</li>
      </ul>

      <h3>No resource yet</h3>
      <ul>
        <li>Representation theory</li>
        <li>Commutative and noncommutative algebra (ring theory)</li>
        <li>Lie groups and algebras</li>
        <li>Elliptic curves</li>
      </ul>

      <h2>Topology</h2>
      <ul>
        <li>
          <a
            href="https://youtube.com/playlist?list=PLTBqohhFNBE_09L0i-lf3fYXF5woAbrzJ&si=-qRX_7MY_4WssvLh"
            >Topology and geometry</a
          >
          - Tokieda
        </li>
        <li>
          (<a
            href="https://youtube.com/playlist?list=PLLq_gUfXAnkl8bjQh-hGQ9u24xZP9x0dx&si=ws-_7I_BoIufJFt3"
            >Topology</a
          >
          - Bruno Zimmerman) + (<a
            href="https://people.math.ethz.ch/~dkosanovic/24-FS/Munkres-Topology.pdf"
            >Topology</a
          >
          - Munkres)
        </li>
        <li>
          (<a
            href="https://youtube.com/playlist?list=PLpRLWqLFLVTCL15U6N3o35g4uhMSBVA2b&si=veFntgds4Ffn7CUZ"
            >Algebraic topology</a
          >
          - Albin) + (<a href="https://pi.math.cornell.edu/~hatcher/AT/AT.pdf"
            >Algebraic topology</a
          >
          - Hatcher)
        </li>
        <hr />
        <li>
          <a href="https://math.uchicago.edu/~may/REU2017/MilnorDiff.pdf"
            >Topology from a differentiable viewpoint</a
          >
          - Milnor
        </li>
        <li>
          Introduction to
          <a
            href="http://drhuang.com/science/mathematics/book/gtm/GTM202.Introduction.to.Topological.Manifolds.-.John.M..Lee.pdf"
            >topological</a
          >/<a
            href="https://www.math.colostate.edu/~renzo/teaching/DiffGeo2011/Introduction%20to%20Smooth%20Manifolds%20-%20J.%20Lee.pdf"
            >smooth</a
          >
          manifolds - Lee
        </li>
        <li>
          <a
            href="https://www.cimat.mx/~gil/docencia/2020/topologia_diferencial/%5BGuillemin,Pollack%5DDifferential_Topology(1974).pdf"
            >Differential topology</a
          >
          - Guillemin, Pollack
        </li>
        <li>
          <a
            href="https://aetemad.iut.ac.ir/sites/aetemad.iut.ac.ir/files/files_course/william_m._boothby_an_introduction_to_differentibookfi.org_.pdf"
            >Differentiable manifolds and Riemannian geometry</a
          >
          - Boothby
        </li>
      </ul>
      <h3>No resource yet</h3>
      <ul>
        <li>Geometric topology</li>
      </ul>

      <h2>Number theory</h2>
      <ul>
        <li>
          <a
            href="https://youtube.com/playlist?list=PL22w63XsKjqwn2V9CiP7cuSGv9plj71vv&si=IWZu_LAtpy2I3zL_"
            >Number theory</a
          >
          - Michael Penn
        </li>
        <hr />
        <li>
          <a
            href="https://youtube.com/playlist?list=PL8yHsr3EFj53L8sMbzIhhXSAOpuZ1Fov8&si=YRmic4yGEOOv7Ed3"
            >Number theory</a
          >
          - Borcherds
        </li>
        <li>
          <a
            href="https://blngcc.wordpress.com/wp-content/uploads/2008/11/hardy-wright-theory_of_numbers.pdf"
            >Number theory</a
          >
          - Hardy
        </li>
      </ul>
      <h3>No resource yet</h3>
      <ul>
        <li>Algebraic geometry</li>
        <li>Arithmetic geometry</li>
      </ul>

      <h2>Mathematical logic and theoret. CS</h2>
      <ul>
        <li id="beginning-logic">
          <a
            href="http://gen.lib.rus.ec/book/index.php?md5=aec1f0e74dd2d6fdac70802e64589919"
            target="_blank"
            >Beginning logic</a
          >
          - Lemmon
        </li>
        <li>
          <a
            href="https://docs.ufpr.br/~hoefel/ensino/CM304_CompleMat_PE3/livros/Enderton_Elements%20of%20set%20theory_%281977%29.pdf"
            >Elements of set theory</a
          >
          - Enderton
        </li>
        <hr />
        <li>
          <a href="http://gen.lib.rus.ec/book/index.php?md5=e6407896b74c7ad91e466405e317042b"
            >Model theory</a
          >
          - Marker
        </li>
        <li>
          <a
            href="http://gen.lib.rus.ec/book/index.php?md5=367fe3c545592754f6091ce77b030197"
            target="_blank"
            >Recursively enumerable sets and degrees</a
          >
          - Soare
        </li>
        <li>
          <a href="https://theory.cs.princeton.edu/complexity/book.pdf">Computational complexity</a>
          - Arora, Barak
        </li>
        <li>
          <a href="http://www.mtm.ufsc.br/~ebatista/2016-2/maclanecat.pdf">Categories</a> - Mac Lane
        </li>
        <li>
          <a href="https://www.logicmatters.net/resources/pdfs/LogicStudyGuide.pdf">Study guide</a>
          - Smith (bad resource, use only as a reference)
        </li>
      </ul>

      <h2>Misc</h2>
      <ul>
        <li>
          <a href="https://david92jackson.neocities.org/images/Euclid_and_Beyond-Hartshorne.pdf">
            Euclid and beyond
          </a>
          - Hartshorne
        </li>
        <li>
          <a href="https://farside.ph.utexas.edu/books/Euclid/Elements.pdf">Elements</a> - Euclid
        </li>
        <hr />
        <li>
          <a href="http://gen.lib.rus.ec/book/index.php?md5=bca31b1e9f2d3422a60af4cbbfc71a1a"
            >Combinatorics</a
          >
          - Cameron
        </li>
        <li>
          <a
            href="https://mathematicalolympiads.wordpress.com/wp-content/uploads/2012/08/martin_j-_osborne-an_introduction_to_game_theory-oxford_university_press_usa2003.pdf"
            >Introduction to Game Theory</a
          >
          - Osborne
        </li>
        <li>
          <a
            href="https://seyedkalali.com/wp-content/uploads/2016/11/A-First-Course-in-Probability-8th-ed.-Sheldon-Ross.pdf"
            >Probability</a
          >
          - Ross
        </li>
        <li>
          <a
            href="https://www.biodyn.ro/course/literatura/Nonlinear_Dynamics_and_Chaos_2018_Steven_H._Strogatz.pdf"
            >Nonlinear dynamics and chaos</a
          >
          - Strogatz
        </li>
      </ul>

      <h2>Contest math</h2>

      <h3>Contests</h3>
      <ul>
        <li>
          Waterloo <a href="https://www.cemc.uwaterloo.ca/contests/past_contests.html">contests</a>
        </li>
        <li>
          COMC <a href="https://cms.math.ca/competitions/comc/comc2023/getting-ready/">contest</a>
        </li>
        <li>
          AMC
          <a href="https://artofproblemsolving.com/wiki/index.php/AMC_Problems_and_Solutions"
            >contest</a
          >
        </li>
        <li>MIT <a href="https://math.mit.edu/~yyao1/integrationbee.html">integration bee</a></li>
        <li>
          Miklos Schweitzer <a href="https://www.math.u-szeged.hu/~mmaroti/schweitzer/">contest</a>
        </li>
        <li>Putnam <a href="https://kskedlaya.org/putnam-archive/">contest</a></li>
        <li>APMO <a href="https://www.apmo-official.org/problems">contest</a></li>
        <li>IMO <a href="https://www.imo-official.org/problems.aspx">contest</a></li>
      </ul>
      <h3>Resources</h3>
      <ul>
        <li>
          Evan Chen
          <a href="https://web.evanchen.cc/otis.html">OTIS</a>
          <a href="https://web.evanchen.cc/olympiad.html">Articles</a>
          <a href="https://web.evanchen.cc/textbooks/OTIS-Excerpts.pdf">Excerpt</a>
        </li>
        <li>CAN <a href="https://sites.google.com/site/imocanada/home">handouts</a></li>
        <li>
          IMO <a href="https://imomath.com/index.cgi?page=problemsFromOlympiads">more problems</a>
        </li>
        <li><a href="https://www.euclidea.xyz/">Euclidea</a></li>
      </ul>

      <h2>Articles and scholarly</h2>
      <p>
        Not exhaustive:
        <a href="https://sci-hub.se">SciHub (our holy savior)</a>,
        <a href="https://arxiv.org">Arxiv.org</a>,
        <a href="https://mathscinet.ams.org/mathscinet/publications-search">MathSciNet</a>,
        <a href="https://zbmath.org">Zentralblatt</a>,
        <a href="https://search.worldcat.org">Worldcat</a>,
        <a href="https://scholar.google.com">Google scholar</a>,
        <a href="https://news.mit.edu">MIT newd</a>, <a href="https://phys.org">Phys.org</a>,
        <a href="https://www.nature.com">Nature</a>, <a href="https://www.science.org">Science</a>,
        <a href="https://www.pnas.org">PNAS</a>,
        <a href="https://www.quantamagazine.org">Quanta magazine</a>,
        <a href="https://libguides.mit.edu/math">MIT libguides</a>,
        <a href="https://libguides.bodleian.ox.ac.uk/maths">Oxford libguides</a>,
        <a href="https://guides.library.stanford.edu/mathstat">Stanford libguides</a>,
        <a href="https://libguides.princeton.edu/c.php?g=84070&p=540950">Princeton libguides</a>,
        <a href="https://libguides.cam.ac.uk/maths">Cambridge libguides</a>,
        <a href="https://www.math.harvard.edu/resources/electronic-library-research-resources/"
          >Harvard libguides</a
        >
      </p>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
