<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/math-roadmap.css" rel="stylesheet" type="text/css" />
    <title>Bright Lin</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>Mathematics</h1>

      <h3>Other resources</h3>
      <ul>
        <li>
          MIT <a href="https://math.mit.edu/academics/undergrad/subjects/index.html">programs</a>
        </li>
        <li>MIT <a href="https://libguides.mit.edu/c.php?g=176079&p=1159723">textbooks</a></li>
        <li>
          <a
            href="https://www.reddit.com/r/math/wiki/faq/#wiki_what_are_some_good_books_on_topic_x.3F"
            >Reddit</a
          >
          recommendations
        </li>
      </ul>

      <h2>Introduction to mathematics</h2>

      <h3>Basics of calculus and linear algebra</h3>
      <ul>
        <li>Precalculus - Khan Academy</li>
        <li>Essence of calculus - 3B1B (playlist)</li>
        <li>Differential calculus - Khan Academy</li>
        <li>Integral calculus - Khan Academy</li>
        <li>Essence of linear algebra - 3B1B (playlist)</li>
        <li>Linear algebra - Khan Academy</li>
        <li>Multivariable calculus - Khan Academy</li>
        <li>Differential equations - Khan Academy</li>
      </ul>

      <h3>Exercises</h3>
      <ul>
        <li>
          <a
            href="https://www.math-exercises.com/limits-derivatives-integrals/derivative-of-a-function"
            >Derivatives</a
          >
        </li>
        <li>
          <a
            href="https://www.math-exercises.com/limits-derivatives-integrals/indefinite-integral-of-a-function"
            >Integration</a
          >
        </li>
        <li>
          <a href="https://people.math.sc.edu/girardi/m142/integration/100problems.pdf"
            >Integration </a
          >(hard)
        </li>
      </ul>

      <h2>Foundational stuff</h2>

      <h3>Set theory</h3>
      <ul>
        <li>
          Start Learning Mathematics - The Bright Side of Mathematics (playlist, note-taking, naive
          set theory)
        </li>
        <li>
          Elements of set theory - Enderton (pdf) + Solutions manual (pdf) (axiomatic set theory)
        </li>
      </ul>

      <h2>Algebra</h2>

      <h3>Linear algebra</h3>
      <ul>
        <li>Linear algebra done right - Axler (pdf, pure math focused)</li>
        <li>
          Linear algebra and group theory - Smirnow, translated by Silverman (pdf / book, physics
          focused)
        </li>
      </ul>

      <h3>Abstract algebra</h3>
      <ul>
        <li>Essence of group theory - Mathemaniac (playlist, note-taking)</li>
        <li>Topics in algebra - Hernstein (pdf)</li>
        <li>Group theory - Borcherds (playlist, note-taking)</li>
        <li>Galois theory - Leinstein (pdf)</li>
      </ul>

      <h2>Analysis</h2>

      <h3>Real analysis</h3>
      <ul>
        <li>Real analysis - The Bright Side of Mathematics (playlist, note-taking)</li>
        <li>Understanding analysis - Abbott (pdf) + Solutions manual (pdf)</li>
      </ul>

      <h3>Complex analysis</h3>
      <ul>
        <li>
          <a href="https://complex-analysis.com/">Complex analysis.com</a>
        </li>
        <li>Complex analysis - Lang (pdf)</li>
      </ul>

      <h3>Functional/harmonic analysis</h3>
      <ul>
        <li>Fourier analysis - Stein (pdf)</li>
      </ul>

      <h3>Others (no specific resource)</h3>
      <ul>
        <li>Differential equations (ODE, PDE)</li>
        <li>Measure theory</li>
        <li>Numerical analysis</li>
        <li>Tensor calculus</li>
        <li>Dynamical systems</li>
      </ul>

      <h2>Topology</h2>

      <h3>Intuition</h3>
      <ul>
        <li>Topology and geometry - Tadashi Tokieda (playlist, note-taking)</li>
      </ul>

      <h3>Point-set topology</h3>
      <ul>
        <li>
          Topology - Bruno Zimmerman (playlist, note-taking) + Topology - Munkres (pdf, textbook
          used by the lecturer)
        </li>
      </ul>

      <h3>Algebraic topology</h3>
      <ul>
        <li>Algebraic topology - Hatcher (pdf)</li>
      </ul>

      <h3>Differential topology</h3>
      <ul>
        <li>Manifolds - The Bright Side of Mathematics (playlist, note-taking)</li>
        <li>Differential geometry - Boothby (pdf)</li>
      </ul>

      <h2>Number theory</h2>
      <ul>
        <li>Richard Borcherds : Number theory (playlist, note-taking)</li>
        <li>Number theory - Hardy (pdf)</li>
      </ul>

      <h2>Combinatorics</h2>
      <ul>
        <li>Combinatorics - Cameron (pdf)</li>
      </ul>

      <h2>Probability and statistics</h2>
      <ul>
        <li>Probability - Ross (pdf)</li>
      </ul>

      <h2>Euclidean geometry</h2>
      <ul>
        <li>Euclidea game : <a href="https://www.euclidea.xyz/">Euclidea</a></li>
        <li>Euclid's Elements (pdf)</li>
      </ul>

      <h2>Interdisciplinary and applied math</h2>
      <ul>
        <li>Introduction to Game Theory - Osborne (pdf)</li>
        <li>Nonlinear dynamics and chaos - Strogatz (pdf)</li>
      </ul>

      <h2>Other (no specific resources)</h2>
      <ul>
        <li>Fractal geometry</li>
        <li>Hypercomplex numbers</li>
        <li>Category theory</li>
        <li>Theoretical computer science</li>
      </ul>

      <h2>Contest math</h2>

      <h3>Contests</h3>
      <ul>
        <li>
          <a href="https://www.cemc.uwaterloo.ca/contests/past_contests.html">Waterloo</a>
        </li>
        <li><a href="https://cms.math.ca/competitions/comc/comc2023/getting-ready/">COMC</a></li>
        <li><a href="https://www.imo-official.org/problems.aspx">IMO</a></li>
        <li>
          <a href="https://www.maa.org/math-competitions/putnam-competition-archive-0">Putnam</a>
        </li>
        <li>AMC (past problems on AOPS)</li>
        <li>
          <a href="https://math.mit.edu/~yyao1/integrationbee.html">MIT integration bee</a>
        </li>
        <li><a href="https://www.apmo-official.org/problems">APMO</a></li>
      </ul>

      <h3>Resources</h3>
      <ul>
        <li>Practice past problems (duh)</li>
        <li>
          Study Euclidean geometry, combinatorics, number theory and algebra/algebraic
          manipulations.
        </li>
        <li>
          <a href="https://artofproblemsolving.com/wiki/">AOPS</a>
          <a href="https://artofproblemsolving.com/wiki/index.php/Olympiad_books"
            >Recommendations</a
          >
        </li>
        <li>
          <a href="https://web.evanchen.cc/otis.html">Evan Chen OTIS</a>
          <a href="https://web.evanchen.cc/olympiad.html">Articles</a>
          <a href="https://web.evanchen.cc/recommend.html">Recommendations</a>
          <a href="https://web.evanchen.cc/textbooks/OTIS-Excerpts.pdf">OTIS excerpt</a>
        </li>
        <li><a href="https://sites.google.com/site/imocanada/home">Canada IMO</a></li>
        <li>
          <a href="https://imomath.com/index.cgi?page=problemsFromOlympiads">More IMO problems</a>
        </li>
        <li>Art and craft of problems solving - Zeitz (pdf)</li>
        <li>Geometric transformations - Yaglom (pdf)</li>
        <li>Problems in plane geometry - Viktor Prasolov (pdf)</li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
