<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Mathematics</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Mathematics</h1>

      <h3>Useful links</h3>
      <ul>
        <li>MIT <a href="https://math.mit.edu/academics/undergrad/subjects/index.html">programs</a></li>
        <li>MIT <a href="https://libguides.mit.edu/c.php?g=176079&p=1159723">textbooks</a></li>
        <li>
          <a href="https://www.reddit.com/r/math/wiki/faq/#wiki_what_are_some_good_books_on_topic_x.3F">Reddit</a>
          recommendations
        </li>
      </ul>

      <h2>Intro to math</h2>
      <ul>
        <li>Precalculus - Khan</li>
        <li>Essence of calculus - 3B1B</li>
        <li>Differential calculus - Khan</li>
        <li><a href="https://www.math-exercises.com/limits-derivatives-integrals/derivative-of-a-function">Differentiation exercises</a></li>
        <li>Integral calculus - Khan</li>
        <li><a href="https://www.math-exercises.com/limits-derivatives-integrals/indefinite-integral-of-a-function">Integration exercises</a></li>
        <li><a href="https://people.math.sc.edu/girardi/m142/integration/100problems.pdf">Harder integration exercises</a></li>
        <li>Essence of linear algebra - 3B1B</li>
        <li>Linear algebra - Khan</li>
        <li>Multivariable calculus - Khan</li>
        <li>Differential equations - Khan</li>
      </ul>

      <h2>Analysis</h2>
      <ul>
        <li>Real analysis - Bright side of math</li>
        <li>(Understanding analysis + solutions manual) - Abbott</li>
        <li>
          <a href="https://complex-analysis.com/">Complex analysis.com</a>
        </li>
        <li>Complex analysis - Lang</li>
        <li>Fourier analysis - Stein</li>
      </ul>

      <h3>no specific resource:</h3>
      <ul>
        <li>ODE and PDE</li>
        <li>Measure theory</li>
        <li>Numerical analysis</li>
        <li>Tensor calculus</li>
        <li>Dynamical systems</li>
      </ul>

      <h2>Linear algebra</h2>
      <ul>
        <li>Linear algebra lectures - Strang</li>
        <li>Linear algebra done right - Axler</li>
      </ul>

      <h2>Abstract algebra</h2>
      <ul>
        <li>Essence of group theory - Mathemaniac</li>
        <li>Topics in algebra - Hernstein</li>
        <li>Group theory - Borcherds</li>
        <li>Galois theory - Leinstein</li>
      </ul>

      <h2>Topology</h2>
      <ul>
        <li>Topology and geometry - Tokieda</li>
        <li>(Topology - Bruno Zimmerman) + (Topology - Munkres)</li>
        <li>What is algebraic topology - Visual Math</li>
        <li>Algebraic topology - Hatcher</li>
        <li>Manifolds - Bright side of math</li>
        <li>Differential geometry - Boothby</li>
      </ul>
      <h3>no specific resource:</h3>
      <ul>
        <li>Geometric topology</li>
      </ul>

      <h2>Number theory</h2>
      <ul>
        <li>Number theory v2 - Michael Penn</li>
        <li>Number theory - Borcherds</li>
        <li>Number theory - Hardy</li>
      </ul>

      <h2>Set theory</h2>
      <ul>
        <li>Start Learning Mathematics - Bright side of math</li>
        <li>(Elements of set theory + solutions manual) - Enderton</li>
      </ul>

      <h2>Interdisciplinary or miscellaneous</h2>
      <ul>
        <li>Introduction to Game Theory - Osborne</li>
        <li>Nonlinear dynamics and chaos - Strogatz</li>
        <li>Combinatorics - Cameron</li>
        <li>Probability - Ross</li>
      </ul>
      <h3>no specific resource:</h3>
      <ul>
        <li>Fractals</li>
        <li>Hypercomplex numbers</li>
        <li>Category theory</li>
        <li>Theoretical CS</li>
      </ul>

      <h2>Contest math</h2>

      <h3>Contests</h3>
      <ul>
        <li><a href="https://www.cemc.uwaterloo.ca/contests/past_contests.html">Waterloo</a></li>
        <li><a href="https://cms.math.ca/competitions/comc/comc2023/getting-ready/">COMC</a></li>
        <li>AMC (past problems on AOPS)</li>
        <li><a href="https://math.mit.edu/~yyao1/integrationbee.html">Integration bee</a></li>
      </ul>
      <h3>Resources</h3>
      <ul>
        <li>Do past problems</li>
        <li>
          <a href="https://web.evanchen.cc/otis.html">Evan Chen OTIS</a>
          <a href="https://web.evanchen.cc/olympiad.html">Articles</a>
          <a href="https://web.evanchen.cc/textbooks/OTIS-Excerpts.pdf">Excerpt</a>
        </li>
        <li><a href="https://sites.google.com/site/imocanada/home">CAN handouts</a></li>
        <li><a href="https://imomath.com/index.cgi?page=problemsFromOlympiads">More</a></li>
        <li><a href="https://www.euclidea.xyz/">Euclidea</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
