<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Memory</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Memory</h1>

      <h3>Memorize the concept</h3>
      <p>The math formulas follow naturally from the intuition once we know a concept.</p>

      <h3>Memorize the core</h3>
      <p>The basic theorems can be used to deduce other theorems/corollaries naturally.</p>

      <h3>Muscle memory</h3>
      <p>Storing in muscle memory frees space for declarative memory.</p>

      <h3>Long-term memory</h3>
      <p>Storing in long-term memory frees space for short-term memory.</p>

      <h3>Memorize the picture</h3>
      <p>
        Pictures are easy to remember, are more efficient and always contain more information than
        words.
      </p>

      <h3>Make connections</h3>
      <p>
        One concept calls to another. Or they may even end up being the same concept all along, just
        applied differently.
      </p>

      <h3>Memorize the useful</h3>
      <p>Self-explanatory.</p>

      <h3>Recalling memories damages others</h3>
      <p>Unless we want to use the memory, recalling it gradually overshadows the others.</p>

      <h3>Trust your memory</h3>
      <p>
        To economize time, one should trust the brain even if there is possibility you will forget
        tomorrow. You will be surprised to find out how weird the brain is.
      </p>

      <h1>Learning</h1>

      <h3>Sleep</h3>
      <p>Sleeping when tired and waking up naturally leaves the brain in its optimal state.</p>

      <h3>Clutter</h3>
      <p>
        Minimize objects present in room. Ideal case is empty desk with only learning material, and
        bed, nothing else.
      </p>

      <h3>Limit distractions</h3>
      <p>Self-explanatory.</p>

      <h3>Health</h3>
      <p>
        Do exercises. Drink water. Eat three times every day. Take breaks. The brain depends on it.
      </p>

      <h3>Discipline</h3>
      <p>Waiting for the optimal brain state wastes time. Force yourself.</p>

      <h3>Practice</h3>
      <p>
        Do math proof and practical exercises. Always look at the solutions/proof and understand
        them.
      </p>

      <h3>Images vs symbols</h3>
      <p>Lectures > Short videos > Textbooks > Wikipedia > Figuring out the mess by yourself</p>

      <h3>Source</h3>
      <p>
        Learn from the academics. Except in some rare cases, you are often more ignorant than you
        think.
      </p>

      <h3>Broadness</h3>
      <p>
        Most intelligent people know and do many things : 2-3 fields of science, visual art, music,
        dance, writing, fitness, sport, chess, coding. Because math requires real world examples,
        and fast learners.
      </p>

      <h3>Depth</h3>
      <p>To be respected, one must have been at the frontiers.</p>

      <h1>Reasoning</h1>

      <h3>Reason applies to everything</h3>
      <p>Weigh the advantages and disadvantages. Math applies to everything.</p>

      <h3>Reason is the only tool</h3>
      <p>The only difference between two individuals is their rigor.</p>

      <h3>Reason is not what you think</h3>
      <p>
        Don't lack empathy, it is a powerful tool for understanding someone else's behavior, or even
        your future self. Don't leave your emotions out of the equation, because one of them (joy)
        is your ultimate goal. Also, honesty is not mandatory for anyone.
      </p>

      <h3>Avoid reasoning with bias</h3>
      <p>
        Don't let the current emotional state affect your decisions of the future. Also, there is
        rarely a general principle that holds in at least two different situations : always reason
        case by case.
      </p>

      <h3>Theoretical vs practical</h3>
      <p>
        There is often a great difference between the expectation and result, in the real world.
        However, deep down, nihilism is rarely what you actually believe.
      </p>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
