<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/code.css" rel="stylesheet" type="text/css" />
    <title>Bright Lin</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>Memory</h1>

      <ul>
        <li>
          <h3>Memorize the minimum</h3>
          <p>
            The basic knowledge is enough to deduce other knowledge. <br />
            The basic equations can be derived to other equations. <br />
            Store information in the procedural memory if possible.
          </p>
        </li>
        <li>
          <h3>Memorize by image</h3>
          <p>
            Images should be the only way to memorize.<br />
            Concepts can be turned into "feeling" images <br />
            For words, look at their shape, their features, their parts. <br />
            For equations, only memorize the graph, the geometry, the rhythm. <br />
            For anything, the aesthetics of the image is a good indicator. <br />
            For actual images, do not concentrate on single object, instead, concentrate on
            the connection between objects. <br />
            Adding virtual properties inside your mind is very useful, for example : color a word in purple. <br />
            Only create images, so do not create videos mentally. Videos are only powerful when it is real. <br />
            Try to test yourself to recall things from images. You will get a sense of what to look for
            in images, because memorizing images is all about details and location. <br />
            In your free time, try to construct weird 3-D shapes (examples in topology)
            and try to move them around and twist and turn them. Always limit yourself to a maximum of
            one picture at a time, do not juxtapose. <br />
            Construct virtual rooms modelled from real world rooms that you are familiar with.
            Place knowledge in the room. Familiarize yourself with your room.
            When recalling, just walk around and try to find the information.
          </p>
        </li>
        <li>
          <h3>Memorize by connecting</h3>
          <p>
            Connections economize the space needed for each information. <br />
            For unordered lists, memorize by patch of concept, or connectedness. <br />
            For ordered lists, memorize by improvised patches. <br />
            Also, memorize by hierarchy.
          </p>
        </li>
        <li>
          <h3>Memorizing depends on usage</h3>
          <p>
            For recalling information with key-value structure : viewing 1-2 times is enough. <br />
            For recalling whole lists : view, then test yourself, then view the ones you missed, then test, then do a final view. <br />
          </p>
        </li>
        <li>
          <h3>Care</h3>
          <p>
            Warning, each time we recall information, the image fades a little bit.
            DO NOT revise information in your head until prompted. <br />
            Sleeping consolidates long-term memory, but short-term memory can be lost. Take this into consideration. <br />
            Short-term memory is the most powerful memory. However, storing some information in long-term memory
            can economize the short-term memory, so plan in advance. <br />
          </p>
        </li>
        <li>
          <h3>Memorize smartly</h3>
          <p>
            Combine methods subconsciously. These methods are actually instinctual. <br />
            Remember, everyone's memory is surprinsingly more powerful than they think.
            Learn to blindly trust it, and to manipulate it at will. <br />
            Lastly, I will emphasize that memorization should be done with images,
            should they be actual physical pictures created by others, or self-created pictures in the mind.
          </p>
        </li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
