<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Music</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Music</h1>

      <h2>Violin</h2>

      <h3>Scales and arpeggios</h3>
      <p>Galamian</p>

      <h3>Etudes</h3>
      <p>
        Kreutzer, Gavinies, Last rose of summer, God save the king, Fiorillo, Rode, Dancla, De
        Beriot, Dont, Wienawski, 24 Caprices, Ernst, Tartini, Locatelli, Vieuxtemps
      </p>

      <h3>Pieces</h3>
      <p>
        Bach's 6 sonatas and partitas
        <a
          href="https://www.youtube.com/watch?v=ooXAiLEWvfo&list=PLnuorIWm_iQGh4DfCYIMpFgUdXBIoyp-Z&ab_channel=HilaryHahn-Topic"
        >
          Hilary Hahn record.
        </a>
      </p>
      <p>
        Concerto J. B. Accolay, Chaconne Vitali, Concerto Butterfly, Zigeunerweisen
        <a href="https://www.youtube.com/watch?v=wEmbFSiJzEQ">Perlman record.</a>, Rondo
        capriccioso, Concerto Mendelssohn, Concerto Tchaikovsky
      </p>
      <p>
        Concerto Brahms, Concerto Bruch, Concerto De Beriot, Concerto in G Haydn, Concerto 3 Mozart,
        Concerto 5 Mozart, Concerto Vieuxtemps, Concerto Berg, Concerto Prokofiev, Concerto
        Shostakovich, Concerto in A Bach, Concerto 1 Paganini, Concerto 2 Paganini, Concerto 2
        Wienawski, Concerto Lalo, Concerto Dvorak, Concerto 3 Saint-saens, Concerto Elgar, Concerto
        Vivaldi, Hungarian dance
      </p>
      <p>
        Sonata Ysaye <a href="https://www.youtube.com/watch?v=3dlRYehbrnY">Hadelich record.</a>,
        Centone di Sonate, Sonata Debussy, Devil's trill, Kreutzer sonata
      </p>
      <p>
        Sonata Handel, Sonata 28 Mozart, Spring sonata, Sonata Beach, Sonata for violin and guitar
        Paganini, Mystery sonata, Sonata for violin and piano Bach, Sonata Franck
      </p>
      <p>
        Thais Meditation, 14 romances Rachmaninoff, Liebesleid, Tarantelle, Czardas, Romance without
        words (violin transcription), Guitare Moszkowski, Sarasate, Melodie Tchaikovsky, Salut
        d'amour Elgar, Carmen Fantasy, Ronde des lutins
      </p>
      <p>
        Romantische Dvorak, Romance Beach, Tzigane
        <a href="https://www.youtube.com/watch?v=EGmE1qXMP1M&ab_channel=KersonLeong">
          Kerson record.</a
        >, Nocturnes for piano and violin Chopin, Gipsy Dvorak, Lark ascending, Souvenir Sibelius,
        Romance in A Rachmaninoff
      </p>
      <p>Navarra Sarasate</p>
      <p>Schlindler's List, Fantaisie (with harp) Saint-saens</p>

      <h2>Music theory</h2>
      <ul>
        <li><a href="https://viva.pressbooks.pub/openmusictheory/">Open Music Theory</a></li>
        <li>
          <a href="http://gen.lib.rus.ec/book/index.php?md5=4f6c8496d57bf9b8362aad44e02b2408"
            >The study of orchestration</a
          >
          - Adler
        </li>
        <li>
          <a
            href="https://www.reddit.com/r/musictheory/wiki/faq/core/new_to_music_theory/#wiki_core_theory_textbooks"
            >Recommendations</a
          >
          - Reddit
        </li>
      </ul>

      <h2>For listening</h2>

      <h3>Orchestral</h3>
      <p>
        Symphony 10, 6 - Mahler, Double violin concerto, Air on G - Bach, La mer - Debussy, Serenade
        D958 orchestra - Schubert, Shylock suite nocturne - Faure
      </p>
      <h3>Piano</h3>
      <p>
        Nocturnes 9-1, 9-2, 27-2, 48-1, 55-1, posth-16 - Chopin, Ballades, tristesse, fantaisie
        impromptu - Chopin, Pavane, Ondine, Miroirs - Ravel, Literally everything - Debussy,
        Traumerei - Schumann, Fruhlingslied, Songs without words - Mendelssohn, Liebestraum,
        Sospiro, Campanella (spectacular, but ugly), Consolations - Liszt, Aria (Goldberg
        variations), art of fugue, toccata (organ), prelude (well-tempered clavier) - Bach, Madwoman
        on the seashore - Alkan, Impromptu 3 - Schubert
      </p>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
