<!DOCTYPE html>
<html>
  <head>
    <link href="/public/css/roguelike.css" rel="stylesheet" type="text/css" />

    <title>Roguelike</title>
  </head>

  <body>
    <div id="body-container">
      <canvas id="canvas"></canvas>
    </div>

    <script type="module" src="/public/lib/face.js"></script>
    <script type="module" src="/public/api/roguelike.js"></script>
  </body>
</html>
