<!DOCTYPE html>
<html>
  <head>
    <link href="/public/css/rpg.css" rel="stylesheet" type="text/css" />
    <title>RPG 3D</title>
  </head>

  <body>
    <div id="body-container"></div>

    <script type="module" src="/three.js"></script>
    <script type="module" src="/socket.io"></script>
    <script type="module" src="/public/lib/face.js"></script>
    <script type="module" src="/public/services/rpg-control.js"></script>
    <script type="module" src="/public/services/rpg-render.js"></script>
    <script type="module" src="/public/api/rpg.js"></script>
  </body>
</html>
