<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <link href="/public/css/science-roadmap.css" rel="stylesheet" type="text/css" />
    <title>Bright Lin</title>
  </head>

  <body>
    <div id="body-container">
      <%- include("../parts/header.ejs") %>

      <h1>Science Roadmap</h1>

      <h2>Physics</h2>

      <h3>Source(s)</h3>
      <ul>
        <li><a href="https://www.susanjfowler.com/blog/2016/8/13/so-you-want-to-learn-physics">Susan Fowler</a></li>
        <li><a href="https://www.goodtheorist.science/primarymathematics.html">Hooft</a></li>
      </ul>

      <h3>Introduction</h3>
      <ol>
        <li>Khan Academy : Physics library (up to thermodynamics)</li>
        <li>University physics - Young (up to electrostatics)</li>
        <li>Classical Mechanics - Taylor</li>
      </ol>

      <h3>Electrostatics</h3>
      <ol>
        <li>University physics - Young</li>
      </ol>

      <h3>Electrodynamics</h3>
      <ol>
        <li>Electrodynamics - Griffith</li>
        <li>Classical electrodynamics - Jackson</li>
      </ol>

      <h3>Vibration and waves</h3>
      <ol>
        <li>Vibration and waves - French</li>
        <li>Vibration and waves - King</li>
      </ol>

      <h3>Modern physics</h3>
      <ol>
        <li>University physics - Young</li>
      </ol>

      <h3>Classical mechanics</h3>
      <ol>
        <li>Student Guide to Lagrangians and Hamiltonians</li>
      </ol>

      <h3>Quantum mechanics</h3>
      <ol>
        <li>Quantum mechanics : Mathematical basis - Faculty of Khan (playlist, note-taking required)</li>
        <li>Introduction quantum mechanics - Faculty of Khan (playlist, note-taking required)</li>
        <li>Quantum physics - MIT (youtube, note-taking required)</li>
        <li>Feynman lectures on physics (<a href="https://www.feynmanlectures.caltech.edu/">website</a>)</li>
        <li>Quantum mechanics - Griffith</li>
        <li>Modern quantum mechanics - Sakurai</li>
        <li>Quantum mechanics and path integral - Feynman</li>
        <li>Quantum field theory - Zee</li>
        <li>Quantum field theory - Peskin</li>
      </ol>

      <h3>Thermodynamics</h3>
      <ol>
        <li>Statistical mechanics - Bowley</li>
        <li>Statistical mechanics - Pathria</li>
      </ol>

      <h3>General relativity</h3>
      <ol>
        <li>Spacetime and geometry - Carroll</li>
      </ol>

      <h3>Other</h3>
      <ol>
        <li>Astronomy</li>
        <li>Astrophysics</li>
        <li>Cosmology</li>
        <li>Electronics</li>
        <li>Particle physics</li>
        <li>String theory</li>
      </ol>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
