<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Technology</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Technology</h1>

      <h2>Computer science</h2>
      <h3>Resources</h3>
      <ul>
        <li><a href="https://teachyourselfcs.com/">Roadmap</a> - Nova, Byrne</li>
        <li>
          <a
            href="https://youtube.com/playlist?list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi&si=XqX7Z2yPibH0xQoY"
            >Neural networks</a
          >
          - 3B1B
        </li>
        <li>
          <a href="https://youtu.be/ih20l3pJoeU?si=e1_Yuow4xeIq7jAq">3D graphics engine</a> -
          javidx9
        </li>
        <li><a href="https://youtu.be/bBC-nXj3Ng4?si=V6pjJeIyS5RfSw-u">Bitcoins</a> - 3B1B</li>
      </ul>
      <h3>Idea bank</h3>
      <ul>
        <li>
          <a
            href="https://www.reddit.com/r/learnprogramming/comments/2a9ygh/1000_beginner_programming_projects_xpost/"
            >Mega list</a
          >
        </li>
        <li><a href="https://cses.fi/">Algorithms</a></li>
      </ul>

      <h2>NodeJS on MacOS</h2>
      <h3>Package manager</h3>
      <ol>
        <li>Homebrew</li>
        <li>NVM and NPM</li>
      </ol>
      <h3>Framework, tools and libraries</h3>
      <p>
        Express, Socket.io, EJS, MongoDB, Mongoose (npm), Redis, Express-session (npm), Canvas
        (npm), Bcrypt (npm), Svelte, ThreeJS, RapierJS, ElectronJS, Ngrok
      </p>

      <h2>Free softwares</h2>

      <ul>
        <li>Useful link - <a href="https://osintframework.com/">OSINT</a></li>
        <li>
          VS code, Xcode, Krita, GIMP, IPEVO annotator, Blender, OBS, Davinci resolve, Streamlabs,
          Musescore, LMMS, Audacity, Unity, Obsidian, Onyx, Virtualbox, Wine, Stellarium, LTSpice
        </li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
