<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Technology</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Technology</h1>

      <h2>CS</h2>
      <ul>
        <li><a href="https://teachyourselfcs.com/">Nice website</a></li>
        <li>Neural networks - 3B1B</li>
        <li>Neural networks and deep learning - Michael Nielsen</li>
      </ul>

      <h2>Free softwares</h2>
      <h3>Coding</h3>
      <ul>
        <li>VS code</li>
      </ul>
      <h3>Drawing and editing</h3>
      <ul>
        <li>Krita</li>
        <li>GIMP</li>
      </ul>
      <h3>Video editing and streaming</h3>
      <ul>
        <li>OBS</li>
        <li>Davinci resolve</li>
        <li>Streamlabs</li>
      </ul>
      <h3>3D modelling</h3>
      <ul>
        <li>Blender</li>
      </ul>
      <h3>Music and sound editing</h3>
      <ul>
        <li>Musescore</li>
        <li>LMMS</li>
        <li>Audacity</li>
      </ul>
      <h3>Game engine</h3>
      <ul>
        <li>Unity</li>
      </ul>
      <h3>Astronomy</h3>
      <ul>
        <li>Stellarium</li>
      </ul>
      <h3>Browser</h3>
      <ul>
        <li>Chrome</li>
        <li>TOR</li>
      </ul>
      <h3>Note-taking</h3>
      <ul>
        <li>Obsidian</li>
      </ul>
      <h3>Mac cleaning</h3>
      <ul>
        <li>Onyx</li>
      </ul>
      <h3>Virtual machine</h3>
      <ul>
        <li>Virtualbox</li>
      </ul>

      <h2>Useful for Javascript</h2>
      <h3>Idea bank</h3>
      <ul>
        <li><a href="https://www.reddit.com/r/learnprogramming/comments/2a9ygh/1000_beginner_programming_projects_xpost/">Mega list</a></li>
        <li><a href="https://cses.fi/">Algorithms</a></li>
      </ul>
      <h3>Graphics and 3D</h3>
      <ul>
        <li>canvas (npm)</li>
        <li>ThreeJS</li>
      </ul>
      <h3>Physics</h3>
      <ul>
        <li>RapierJS</li>
      </ul>
      <h3>Hosts</h3>
      <ul>
        <li>Ngrok (not a host)</li>
        <li>Gcloud</li>
      </ul>
      <h3>Repository</h3>
      <ul>
        <li>Github</li>
      </ul>
      <h3>Database</h3>
      <ul>
        <li>MongoDB</li>
        <li>Mongoose (npm)</li>
        <li>Redis</li>
        <li>Express-session (npm)</li>
      </ul>
      <h3>Encryption</h3>
      <ul>
        <li>bcrypt (npm)</li>
      </ul>
      <h3>Site generation</h3>
      <ul>
        <li>EJS (npm)</li>
        <li>Svelte</li>
      </ul>
      <h3>Game comm</h3>
      <ul>
        <li>SocketIO (npm)</li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
