<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>

    <title>Poetry and stories</title>
  </head>

  <body>
    <%- include("../parts/header.ejs") %>
    <div id="body-container">
      <h1>Poetry and stories</h1>

      <p>
        Note: this page is more a repository for my own use, and less an exposition to the public.
      </p>

      <h3>Poetry</h3>

      <ul>
        <li><a href="/public/pdf/Collection-de-poesie.pdf">Collection de poesie</a></li>
      </ul>

      <h3>Short stories</h3>

      <ul>
        <li><a href="/public/pdfLe-vaisseau-de-l-humanite.pdf">Le vaisseau de l'humanite</a></li>
      </ul>

      <h3>Novel tries</h3>
      <ul>
        <li><a href="/public/pdfLa-constante-s.pdf">La constante S</a></li>
        <li><a href="/public/pdfSogon-19.pdf">Sogon 19</a></li>
      </ul>
    </div>
    <%- include("../parts/footer.ejs") %>
  </body>
</html>
