<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs") %>

    <title>Education</title>
  </head>

  <body>
    <%- include("../../parts/header.ejs") %>
    <div id="body-container">
      <h1>Blog: Education</h1>

      <h2>Fact: Self-taught calculus and got 12 points above average of 78.</h2>
    </div>
    <%- include("../../parts/footer.ejs") %>
  </body>
</html>
